
CREATE DATABASE [QLDSV_HTC]
GO
/****** Object:  Table [dbo].[CT_DONGHOCPHI]    Script Date: 28/08/2021 9:56:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DONGHOCPHI](
	[MASV] [nchar](10) NOT NULL,
	[NIENKHOA] [nchar](9) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[NGAYDONG] [date] NOT NULL,
	[SOTIENDONG] [int] NOT NULL,
 CONSTRAINT [PK_CT_DONGHOCPHI] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[NIENKHOA] ASC,
	[HOCKY] ASC,
	[NGAYDONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANGKY]    Script Date: 28/08/2021 9:56:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANGKY](
	[MALTC] [int] NOT NULL,
	[MASV] [nchar](10) NOT NULL,
	[HUYDANGKY] [bit] NULL,
 CONSTRAINT [PK_DANGKY] PRIMARY KEY CLUSTERED 
(
	[MALTC] ASC,
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 28/08/2021 9:56:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[MAGV] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NULL,
	[TEN] [nvarchar](10) NULL,
	[HOCVI] [nvarchar](20) NULL,
	[HOCHAM] [nvarchar](20) NULL,
	[CHUYENMON] [nvarchar](50) NULL,
 CONSTRAINT [PK_GIANGVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOCPHI]    Script Date: 28/08/2021 9:56:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOCPHI](
	[MASV] [nchar](10) NOT NULL,
	[NIENKHOA] [nchar](9) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[HOCPHI] [int] NOT NULL,
 CONSTRAINT [PK_HOCPHI] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[NIENKHOA] ASC,
	[HOCKY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[LOP]    Script Date: 28/08/2021 9:56:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [nchar](10) NOT NULL,
	[TENLOP] [nvarchar](50) NOT NULL,
	[KHOAHOC] [nchar](9) NOT NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOPTINCHI]    Script Date: 28/08/2021 9:56:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOPTINCHI](
	[MALTC] [int] NOT NULL,
	[SOTC] [int] NOT NULL,
	[NIENKHOA] [nchar](9) NOT NULL,
	[HOCKY] [int] NOT NULL,
	[MAMH] [nchar](10) NOT NULL,
	[NHOM] [int] NOT NULL,
	[MAGV] [nchar](10) NOT NULL,
	[SISO] [int] NOT NULL,
	[TIETBATDAU] [int] NOT NULL,
	[THOIGIANBATDAU] [date] NOT NULL,
	[THOIGIANKETTHUC] [date] NOT NULL,
	[HUYLOP] [bit] NOT NULL CONSTRAINT [DF_LOPTINCHI_HUYLOP]  DEFAULT ('false'),
 CONSTRAINT [PK_LOPTINCHI] PRIMARY KEY CLUSTERED 
(
	[MALTC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 28/08/2021 9:56:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMH] [nchar](10) NOT NULL,
	[TENMH] [nvarchar](50) NOT NULL,
	[SOTIET_LT] [int] NOT NULL,
	[SOTIET_TH] [int] NOT NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 28/08/2021 9:56:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[PHAI] [bit] NOT NULL CONSTRAINT [DF_SINHVIEN_PHAI]  DEFAULT ('false'),
	[DIACHI] [nvarchar](100) NULL,
	[NGAYSINH] [date] NULL,
	[MALOP] [nchar](10) NOT NULL,
	[DANGHIHOC] [bit] NOT NULL CONSTRAINT [DF_SINHVIEN_DANGHIHOC]  DEFAULT ('false'),
	[PASSWORD] [nvarchar](40) NULL CONSTRAINT [DF_SINHVIEN_PASSWORD]  DEFAULT (''),
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[GIANGVIEN] ([MAGV], [HO], [TEN], [HOCVI], [HOCHAM], [CHUYENMON]) VALUES (N'GV01      ', N'Phan Thanh', N'Liêm', N'Thạc sĩ', N'', N'Phần mềm')
INSERT [dbo].[GIANGVIEN] ([MAGV], [HO], [TEN], [HOCVI], [HOCHAM], [CHUYENMON]) VALUES (N'GV02      ', N'Lê Thành', N'Trì', N'Thạc sĩ', N'', N'Mạng máy tính')
INSERT [dbo].[GIANGVIEN] ([MAGV], [HO], [TEN], [HOCVI], [HOCHAM], [CHUYENMON]) VALUES (N'GV03      ', N'Huỳnh Trung', N'Trụ', N'Thạc sĩ', N'', N'Web, Phần mềm')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [KHOAHOC]) VALUES (N'D15CQCP01 ', N'Công nghệ phần mềm 2015', N'2015-2019')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [KHOAHOC]) VALUES (N'D15CQIS01 ', N'Hệ thống thông tin 2015', N'2015-2019')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [KHOAHOC]) VALUES (N'D15CQMT01 ', N'Mạng máy tính 2015', N'2015-2019')

INSERT [dbo].[LOPTINCHI] ([MALTC], [SOTC], [NIENKHOA], [HOCKY], [MAMH], [NHOM], [MAGV], [SISO], [TIETBATDAU], [THOIGIANBATDAU], [THOIGIANKETTHUC], [HUYLOP]) VALUES (1,3,N'2021-2022', 1, N'CTDL      ', 1,160,1, CAST(N'2021-12-27' AS Date), CAST(N'2022-13-03' AS Date),0)
INSERT [dbo].[LOPTINCHI] ([MALTC], [SOTC], [NIENKHOA], [HOCKY], [MAMH], [NHOM], [MAGV], [SISO], [TIETBATDAU], [THOIGIANBATDAU], [THOIGIANKETTHUC], [HUYLOP]) VALUES (2,3,N'2021-2022', 1, N'CTDL      ', 2,210,1, CAST(N'2022-02-14' AS Date), CAST(N'2022-04-03' AS Date),0)
INSERT [dbo].[LOPTINCHI] ([MALTC], [SOTC], [NIENKHOA], [HOCKY], [MAMH], [NHOM], [MAGV], [SISO], [TIETBATDAU], [THOIGIANBATDAU], [THOIGIANKETTHUC], [HUYLOP]) VALUES (3,2,N'2021-2022', 1, N'XLA       ', 1,120,1, CAST(N'2022-04-18' AS Date), CAST(N'2022-06-26' AS Date),0)

INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTIET_LT], [SOTIET_TH]) VALUES (N'AV        ', N'Anh văn', 45, 0)
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTIET_LT], [SOTIET_TH]) VALUES (N'CTDL      ', N'Cấu trúc dữ liệu & Giải thuật', 40, 5)
INSERT [dbo].[MONHOC] ([MAMH], [TENMH], [SOTIET_LT], [SOTIET_TH]) VALUES (N'HDH       ', N'Hệ điều hành', 45, 0)
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [MALOP], [DANGHIHOC], [PASSWORD]) VALUES (N'N15DCCN001', N'Võ Văn', N'Đức', 0, N'Quận 9', CAST(N'1997-02-08' AS Date), N'D15CQCP01 ', 0, N'')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [MALOP], [DANGHIHOC], [PASSWORD]) VALUES (N'N15DCCN002', N'Lê Hữu', N'Tài', 0, N'Thủ Đức', CAST(N'1997-03-07' AS Date), N'D15CQCP01 ', 0, N'')
INSERT [dbo].[SINHVIEN] ([MASV], [HO], [TEN], [PHAI], [DIACHI], [NGAYSINH], [MALOP], [DANGHIHOC], [PASSWORD]) VALUES (N'N15DCCN003', N'Hoàng Thanh', N'Bùi', 0, N'Quận 9', CAST(N'1997-08-07' AS Date), N'D15CQCP01 ', 0, N'')
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_DANGKY]    Script Date: 28/08/2021 9:56:15 PM ******/
ALTER TABLE [dbo].[DANGKY] ADD  CONSTRAINT [UK_DANGKY] UNIQUE NONCLUSTERED 
(
	[MALTC] ASC,
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_LOPTINCHI]    Script Date: 28/08/2021 9:56:15 PM ******/
ALTER TABLE [dbo].[LOPTINCHI] ADD  CONSTRAINT [UK_LOPTINCHI] UNIQUE NONCLUSTERED 
(
	[NIENKHOA] ASC,
	[HOCKY] ASC,
	[MAMH] ASC,
	[NHOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] ADD  CONSTRAINT [DF_CT_DONGHOCPHI_NGAYDONG]  DEFAULT (getdate()) FOR [NGAYDONG]
GO
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [DF_HOCPHI_HOCKY]  DEFAULT ((1)) FOR [HOCKY]
GO
ALTER TABLE [dbo].[HOCPHI] ADD  CONSTRAINT [DF_HOCPHI_HOCPHI]  DEFAULT ((6000000)) FOR [HOCPHI]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI]  WITH CHECK ADD  CONSTRAINT [FK_CT_DONGHOCPHI_HOCPHI] FOREIGN KEY([MASV], [NIENKHOA], [HOCKY])
REFERENCES [dbo].[HOCPHI] ([MASV], [NIENKHOA], [HOCKY])
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] CHECK CONSTRAINT [FK_CT_DONGHOCPHI_HOCPHI]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_CTLTC_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_CTLTC_SINHVIEN]
GO
ALTER TABLE [dbo].[DANGKY]  WITH CHECK ADD  CONSTRAINT [FK_DANGKY_LOPTINCHI] FOREIGN KEY([MALTC])
REFERENCES [dbo].[LOPTINCHI] ([MALTC])
GO
ALTER TABLE [dbo].[DANGKY] CHECK CONSTRAINT [FK_DANGKY_LOPTINCHI]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [FK_HOCPHI_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [FK_HOCPHI_SINHVIEN]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK_LOPTINCHI_GIANGVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK_LOPTINCHI_GIANGVIEN]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [FK_LOPTINCHI_MONHOC] FOREIGN KEY([MAMH])
REFERENCES [dbo].[MONHOC] ([MAMH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [FK_LOPTINCHI_MONHOC]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI]  WITH CHECK ADD  CONSTRAINT [CK_SOTIENDONG] CHECK  (([SOTIENDONG]>(0)))
GO
ALTER TABLE [dbo].[CT_DONGHOCPHI] CHECK CONSTRAINT [CK_SOTIENDONG]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [CK_HOCKY] CHECK  (([HOCKY]>=(1) AND [HOCKY]<=(4)))
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [CK_HOCKY]
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD  CONSTRAINT [CK_HOCPHI] CHECK  (([HOCPHI]>(0)))
GO
ALTER TABLE [dbo].[HOCPHI] CHECK CONSTRAINT [CK_HOCPHI]
GO
ALTER TABLE [dbo].[LOPTINCHI]  WITH CHECK ADD  CONSTRAINT [CK_SISO] CHECK  (([SISO]>(0)))
GO
ALTER TABLE [dbo].[LOPTINCHI] CHECK CONSTRAINT [CK_SISO]
GO
USE [master]
GO
